html, body{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-image: linear-gradient(#3bd5f8, #14a5da);
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
	margin: 0;
}

/* https://stackoverflow.com/a/16555510 */
body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

header {
	text-align: center;
	font-size: 5vw;
	font-family: 'Jua';
	color:azure;
	transform: translate(0, 60%);
	cursor: default;
	text-shadow: 1px 2px 1px rgb(25, 24, 24);
}

.game {
	margin: auto;

}

.sub {
	text-align: center;
	font-family: 'Jua';
	color: azure;
	cursor: default;
	transition-duration: 0.8s;
}

.minefield {
	/* border: 1px solid rgb(141, 177, 88); */
	display: flex;
	justify-content: center;
	align-content: center;
	/* align-items: center; */
	margin: auto;
	width: 25vw;
	height: 25vw;
	overflow: auto;	
	flex-wrap: wrap;
	/* flex-direction: column; */
	max-width: 40vw;
}

.tile {
	/* border: 1px solid white; */
	flex: 1 0 calc(100% / 20);
	width: calc(100% / 20);
	height: calc(100% / 20);
	/* line-height: 30px; */
	display: block;
	text-align: center;
	margin: auto;
	/* background-color: #cbc0c0; */
	cursor: default;
	color: rgb(0,0,0);
	font-size: 0;
	transition: background-color 0.33s, font-size 0.1s;
}

/*
.tile:hover {
	outline: 1px solid grey;
	-index: 2;
}
*/

/* https://stackoverflow.com/a/4358620 */
.game, .title {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.controls {
	/* outline: 2px solid red; */
	width: 800px;
	height: 50px;
	display: flex;
	margin: auto;
	justify-content: center;
	transform: translate(0, -350%);
	padding: 5px;
	z-index: 3;
}

button {
	border: 0;
	width: 100px;
	font-family: 'Jua';
	font-size: 1.5em;
	color: white;
	background-color: rgb(179, 103, 144);
	border-radius: 15px;
	transition-duration: 0.4s;
	text-shadow: 1px 2px 1px rgba(25, 24, 24, 0.1);
	margin: 5px;
}

.reset:hover {
	background-color: rgb(155, 84, 122); /* Green */
	color: white;
	cursor: pointer;
}

.autosolve, .solve, .reveal {
	background-color: rgb(230, 172, 48);
	cursor: pointer;
}

.autosolve:hover, .solve:hover, .reveal:hover {
	background-color: rgb(191, 110, 34);
	cursor: pointer;
}

.clear, .generate {
	background-color: rgb(109, 230, 48);
	cursor: pointer;
}

.clear:hover, .generate:hover {
	background-color: rgb(34, 191, 58);
	cursor: pointer;
}

.paint {
	background-color: green;
	cursor: pointer;
}
.solver {
	background-color: rgb(217, 94, 46);
	cursor: pointer;
}